

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply w-full
  }

  .section {
    @apply container mx-auto py-24 px-6 
  }
  .animate-slide:hover {
    animation-play-state:paused
  }

  .container.testimonials__container {
    padding-bottom: 3rem;
}
}









